/* Generated IconType... */
@font-face {
  font-family: "iconfont"; 
  src: url('./iconfont.ttf?t=___') format('truetype');
}
  
.iconfont {
  font-family: "iconfont" !important;
  text-decoration: none;
  text-align: center;
}

.icon-user:before {
  content: "\e6c0";
}

.icon-recorder-fill:before {
  content: "\e6e1";
}

.icon-account-code:before {
  content: "\e636";
}

.icon-expand:before {
  content: "\e632";
}

.icon-shrink:before {
  content: "\e60a";
}

.icon-account-user:before {
  content: "\e611";
}

.icon-jump:before {
  content: "\e74d";
}

.icon-setup:before {
  content: "\e656";
}

.icon-plus:before {
  content: "\e61f";
}

.icon-left:before {
  content: "\e62b";
}

.icon-right:before {
  content: "\e62a";
}

.icon-close:before {
  content: "\e630";
}

.icon-search:before {
  content: "\e631";
}

.icon-share-light-2:before {
  content: "\e638";
}

.icon-delete:before {
  content: "\e684";
}

.icon-edit:before {
  content: "\e685";
}

.icon-setting:before {
  content: "\e699";
}

.icon-account-lock:before {
  content: "\e6cc";
}